@font-face {
    font-family: 'SwankyMooMoo';
    src: url('/fonts/Swanky and Moo Moo.woff2') format('woff2'),
         url('/fonts/Swanky and Moo Moo.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RockinRecord';
    src: url('/fonts/Rockin-Record.woff2') format('woff2'),
         url('/fonts/Rockin-Record.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EBGaramond';
    src: url('/fonts/EB Garamond.woff2') format('woff2'),
         url('/fonts/EB Garamond.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('/fonts/BebasNeue-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Archivo';
    src: url('/fonts/Archivo-Medium.woff2') format('woff2'),
         url('/fonts/Archivo-Medium.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/Courier Prime.woff2') format('woff2'),
         url('/fonts/Courier Prime.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuperComic';
    src: url('/fonts/SuperComic.woff2') format('woff2'),
         url('/fonts/SuperComic.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
