/* main colors */
$black: #0f0f0f;
$white: #f1f1f1;
$red: #fA222A;
$green: #047200;
$light-green: #009900;
$yellow: #f6d13a;

$root: (
    /* fonts */
    title-font: ("RockinRecord", sans-serif),
    content-font: ("Roboto", serif),

    /* global/general */
    link: $yellow,
    link-hover: $red,
    hr-color: $yellow,

    selection-color: $red,
    selection-background-color: $yellow,

    backdrop-background-color: $black,
    body-background-color: $black,
    body-color: $white,

    /* 'button' shortcode */
/* TODO? */
    button-default-color: black,
    button-default-hover-color: black,
    button-default-background-color: darken(white, 15%),
    button-default-background-hover-color: darken(white, 30%),
    button-default-border-color: black,
    button-default-border-hover-color: black,
    button-primary-color: white,
    button-primary-hover-color: white,
    button-primary-background-color: lighten(black, 15%),
    button-primary-background-hover-color: lighten(black, 30%),
    button-primary-border-color: darken(white, 15%),
    button-primary-border-hover-color: white,

/* TODO? */
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,

    footer-color: $black,
    footer-background-color: $green,
    footer-link-color: $yellow,
    footer-link-hover-color: $red,
    footer-hr-color: $yellow,

    gtt-color: $yellow,
    gtt-hover-color: $red,
    gtt-background-color: $light-green,
    gtt-background-hover-color: $yellow,

    figcaption-color: $white,
    figcaption-background-color: $black,

    meta-color: $green,

    /* taxonomies */
    taxo-title-color: $yellow,
    taxo-active-color: $red,
    taxo-num-color: $yellow,
    taxo-num-background-color: lighten($black, 10%),
    taxo-tags-color: $yellow,
    taxo-tags-background-color: $green,
    taxo-categories-color: $yellow,
    taxo-categories-background-color: $green,
    taxo-series-color: $yellow,
    taxo-series-background-color: $green,
    /* 'sections' & 'authors' */
    taxo-filter-color: $yellow,
    taxo-filter-background-color: $green,

    social-icon-color: $yellow,
    social-icon-hover-color: $red,

    sidebar-title-color: $yellow,
    sidebar-title-hover-color: $red,
    sidebar-li-color: $yellow,
    sidebar-li-hover-color: $red,

    /* sidebar toc */
    toc-title-color: $yellow,
    toc-label-color: darken($yellow, 15%),
    toc-label-active-color: $red,

    /* sidebar bio */
    bio-color: $black,
    bio-name-color: $black,
    bio-social-icon-color: $yellow,
    bio-social-icon-hover-color: $red,

    /* navigation bar (top) */
    navbar-background-color: $green,
    navbar-border-bottom-color: $black,
    navbar-title-color: $yellow,
    navbar-title-hover-color: $red,
    navbar-title-active-color: $black,
    navbar-border-top-color: $black,
    navbar-menu-item-hover-background-color: $yellow,
    navbar-menu-item-hover-color: $red,
    navbar-menu-item-active-background-color: $red,
    burger-menu-color: $yellow,

    /* header slides */
    header-title-color-default: $yellow,
    header-title-shadow-color-default: $black,
    header-subtitle-color-default: $red,
    header-subtitle-shadow-color-default: $black,

    /* home slide */
    featured-background-color: #00000099,
    featured-title-color: $yellow,
    featured-title-hover-color: $red,
    featured-content-color: $white,
    featured-button-background-color: #00000099,
    featured-button-background-hover-color: $black,
    featured-button-color: darken($yellow, 15%),
    featured-button-hover-color: $red,

    /* breadcrumb (path) */
    breadcrumb-background-color: lighten($green, 5%),
    breadcrumb-item-color: darken($yellow, 15%),
    breadcrumb-item-active-color: $yellow,
    breadcrumb-item-hover-color: $red,

    /* single post */
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #FCFCFA,
    single-header-title-color: $red,
    single-contents-title-color: $green,
    single-contents-subtitle-color: darken($green, 5%),

    toc-header-background-color: $green,
    toc-header-background-hover-color: $yellow,
    toc-body-background-color: darken($green, 5%),

/* TODO? */
    content-box-border-color: #616161,
    content-box-background-color: #009900,

    share-color: $white,
    share-shadow-color: $yellow,
    share-background-color: $green,
/* TODO? */
    action-color: black,
    action-shadow-color: black,
    action-background-color: #00FF0077,
    action-popup-background-color: white,
    action-popup-color: black,
    action-popup-border-color: black,

    /* list page */
    list-title-color: $red,
    list-title-shadow-color: $yellow,

    /* taxonomy pages */
    terms-title-color: $red,
    terms-title-shadow-color: $yellow,
    terms-tags-color: $yellow,
    terms-categories-color: $yellow,
    terms-series-color: $yellow,
    terms-len-color: $yellow,

    /* search */
    pagefind-ui-text: $red, /* search icon + clear text */
    pagefind-ui-background: $white, /* search bar */
    pagefind-ui-border: $black, /* search bar */
    pagefind-ui-font: ("Roboto", serif),

    /* browse */
    switch-background-color: $green,
    switch-button-color: $yellow,
    switch-active-color: $green,

    /* pagination */
    pagination-background-color: $green,
    pagination-number-color: $yellow,
    pagination-number-hover-color: $red,
    pagination-number-active-color: $black,
/* TODO: unused...? => check code in 'pagination' */
/*    pagination-disabled-color: yellow,*/

/* TODO? */
    tiles-mask-background-color: rgba(0, 0, 0, 0.7),
    tiles-background-color: rgba(0, 0, 0, 0.7),

/* TODO */
    gallery-title-color: #FCFCFA,
    gallery-title-shadow-color: lighten(#009900, 5%),
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    gallery-link-color: #FCFCFA,

/* TODO: 'archive' currently not handled */
/*
    // TODO: add 'archive-title-color' and 'archive-title-shadow-color'?
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #424242,
    archive-hover-line-color: #FF6188,
*/

    about-title-color: $red,
    about-title-shadow-color: $yellow,

    contact-title-color: $red,
/* TODO: contact stuff... use form? */
/*
    contact-title-shadow-color: $yellow,
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#009900, 5%),
    contact-button-background-color: lighten(#009900, 5%),
    contact-border-color: #1d1d1d,
*/

    e404-color: $yellow,
    e404-title-color: $red,
    e404-title-shadow-color: $yellow,

    /* 'alert' shortcode */
/* TODO */
    alert-info-background-color: lighten(blue, 30%),
    alert-info-text-color: black,
    alert-info-border-color: blue,
    alert-success-background-color: lighten(green, 30%),
    alert-success-text-color: black,
    alert-success-border-color: green,
    alert-warning-background-color: lighten(yellow, 30%),
    alert-warning-text-color: black,
    alert-warning-border-color: yellow,
    alert-danger-background-color: lighten(red, 30%),
    alert-danger-text-color: black,
    alert-danger-border-color: red,

    /* custom variables (external to theme) */
    /* hide side image */
    sidedata-image: url(../images/jamaica-flag.jpg),
);
