/* main colors */
$black: #0f0f0f;
$white: #f1f1f1;

$blue: #0c1565;
$red: #a82437;
$dark-purple: #461659;
$purple: #a3209a;
$yellow: #f3ba24;
$light-blue: #3094c6;

/* TODO: keep? */
$turquoise: #b0c7c6;
$green: #047200;
$pink: #ff6188;

$thirdwave: (
    /* fonts */
    title-font: ("SuperComic", sans-serif),
    content-font: ("CourierPrime", serif),

    /* global/general */
    link: $purple,
    link-hover: $red,
    hr-color: $purple,

    selection-color: $white,
    selection-background-color: $pink,

/*    backdrop-background-color: $yellow,*/
    backdrop-background-color: $light-blue,
    body-background-color: $turquoise,
    body-color: $black,

    /* 'button' shortcode */
/* TODO? */
    button-default-color: black,
    button-default-hover-color: black,
    button-default-background-color: darken(white, 15%),
    button-default-background-hover-color: darken(white, 30%),
    button-default-border-color: black,
    button-default-border-hover-color: black,
    button-primary-color: white,
    button-primary-hover-color: white,
    button-primary-background-color: lighten(black, 15%),
    button-primary-background-hover-color: lighten(black, 30%),
    button-primary-border-color: darken(white, 15%),
    button-primary-border-hover-color: white,

/* TODO? */
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,

    footer-color: $black,
/*    footer-background-color: $purple,*/
    footer-background-color: $red,
    footer-link-color: $yellow,
    footer-link-hover-color: $white,
    footer-hr-color: $black,

    gtt-color: $purple,
    gtt-hover-color: $white,
    gtt-background-color: $white,
    gtt-background-hover-color: $pink,

    figcaption-color: $black,
    figcaption-background-color: $white,

    meta-color: $red,

    /* taxonomies */
    taxo-title-color: $blue,
    taxo-active-color: #bdbdbd,
    taxo-num-color: #FCFCFA,
    taxo-num-background-color: #212121,
    taxo-tags-color: #78DCE8,
    taxo-tags-background-color: lighten(#212121, 13%),
    taxo-categories-color: #AB9DF2,
    taxo-categories-background-color: lighten(#212121, 13%),
    taxo-series-color: #EA9C77,
    taxo-series-background-color: lighten(#212121, 13%),
    /* 'sections' & 'authors' */
    taxo-filter-color: #EA9C77,
    taxo-filter-background-color: lighten(#212121, 13%),

    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),

    sidebar-title-color: #aed581,
    sidebar-title-hover-color: lighten(#aed581, 15%),
    sidebar-li-color: #FCFCFA,
    sidebar-li-hover-color: lighten(#FCFCFA, 15%),

    /* sidebar toc */
    toc-title-color: $blue,
    toc-label-color: $purple,
    toc-label-active-color: $dark-purple,

    /* sidebar bio */
    bio-color: black,
    bio-name-color: black,
    bio-social-icon-color: #bdbdbd,
    bio-social-icon-hover-color: lighten(#bdbdbd, 20%),

    /* navigation bar (top) */
/*    navbar-background-color: #009900,*/
    navbar-background-color: $yellow,
    navbar-border-bottom-color: #4e4e4e,
/*    navbar-title-color: #FCFCFA,*/
    navbar-title-color: $red,
/*    navbar-title-hover-color: #FFD866,*/
    navbar-title-hover-color: $blue,
/*    navbar-title-active-color: #FF6188,*/
    navbar-title-active-color: $dark-purple,
    navbar-border-top-color: #424242,
    navbar-menu-item-hover-background-color: lighten(#009900, 5%),
    navbar-menu-item-hover-color: #FFD866,
    navbar-menu-item-active-background-color: #FF6188,
    burger-menu-color: #FCFCFA,

    /* header slides */
    header-title-color-default: #FFD866,
    header-title-shadow-color-default: #212121,
    header-subtitle-color-default: #FFD866,
    header-subtitle-shadow-color-default: #212121,

    /* home slide */
    featured-background-color: #00000077,
    featured-title-color: darken(white, 15%),
    featured-title-hover-color: white,
    featured-content-color: white,
    featured-button-background-color: #00000077,
    featured-button-background-hover-color: black,
    featured-button-color: darken(white, 15%),
    featured-button-hover-color: white,

    /* breadcrumb (path) */
    breadcrumb-background-color: $red,
    breadcrumb-item-color: $yellow,
    breadcrumb-item-active-color: $dark-purple,
    breadcrumb-item-hover-color: $blue,

    /* single post */
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #FCFCFA,
    single-header-title-color: $blue,
    single-contents-title-color: $dark-purple,
    single-contents-subtitle-color: $purple,

    toc-header-background-color: #009900,
    toc-header-background-hover-color: #424242,
    toc-body-background-color: #009900,

    content-box-border-color: #616161,
    content-box-background-color: #009900,

    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: lighten(#009900, 2.5%),
    action-color: black,
    action-shadow-color: black,
    action-background-color: #00FF0077,
    action-popup-background-color: white,
    action-popup-color: black,
    action-popup-border-color: black,

    /* list page */
    list-title-color: #ddd,
    list-title-shadow-color: #009900,

    /* taxonomy pages */
    terms-title-color: #ddd,
    terms-title-shadow-color: #009900,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #727072,

    /* search */
    pagefind-ui-text: $red, /* search icon + clear text */
    pagefind-ui-background: $white, /* search bar */
    pagefind-ui-border: $black, /* search bar */
    pagefind-ui-font: ("Roboto", serif),

    /* browse */
    switch-background-color: #009900,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,

    /* pagination */
    pagination-background-color: #212121,
    pagination-number-color: #FCFCFA,
    pagination-number-hover-color: #82aaff,
    pagination-number-active-color: #82aaff,
/* TODO: unused...? => check code in 'pagination' */
/*    pagination-disabled-color: yellow,*/

    tiles-mask-background-color: rgba(0, 0, 0, 0.7),
    tiles-background-color: rgba(0, 0, 0, 0.7),

    gallery-title-color: #FCFCFA,
    gallery-title-shadow-color: lighten(#009900, 5%),
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    gallery-link-color: #FCFCFA,

/* TODO: 'archive' currently not handled */
/*
    // TODO: add 'archive-title-color' and 'archive-title-shadow-color'?
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #424242,
    archive-hover-line-color: #FF6188,
*/

    about-title-color: #FCFCFA,
    about-title-shadow-color: lighten(#009900, 5%),

    contact-title-color: #FCFCFA,
/* TODO: contact stuff... use form? */
/*
    contact-title-shadow-color: lighten(#009900, 5%),
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#009900, 5%),
    contact-button-background-color: lighten(#009900, 5%),
    contact-border-color: #1d1d1d,
*/

    e404-color: white,
    e404-title-color: white,
    e404-title-shadow-color: transparent,

    /* 'alert' shortcode */
    alert-info-background-color: lighten(blue, 30%),
    alert-info-text-color: black,
    alert-info-border-color: blue,
    alert-success-background-color: lighten(green, 30%),
    alert-success-text-color: black,
    alert-success-border-color: green,
    alert-warning-background-color: lighten(yellow, 30%),
    alert-warning-text-color: black,
    alert-warning-border-color: yellow,
    alert-danger-background-color: lighten(red, 30%),
    alert-danger-text-color: black,
    alert-danger-border-color: red,

    /* custom variables (external to theme) */
    /* hide side image */
    sidedata-display: none,
    sidedata-image: none,
);
